# src/main/resources/application.yml
server:
  port: 8080

spring:
  application:
    name: wallet-service
  datasource:
    url: jdbc:postgresql://localhost:5432/walletdb
    username: user
    password: s3cr3t
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs